html,
body,
#mynetwork {
  margin: 0px;
  padding: 0px;
}

#mynetwork {
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  min-height: 100vh;
  border-right: 1px solid lightgray;
  background: white;
}

#text {
  position: absolute;
  left: 50%;
  padding: 1em;
}

#title {
  margin-bottom: 5em;
}
