<!DOCTYPE html>
<html lang="en">

<!-- Cool effect https://github.com/EdernClemente/TypeLighterJS-Typewriter -->

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>KnowledgeMap</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/graph.css') }}">
  <link rel="icon" href="./favicon.ico" type="image/x-icon">
  <script src="https://visjs.github.io/vis-network/peer/umd/vis-network.min.js"></script>
  <script src="https://unpkg.com/vis-data@7.1.4/peer/umd/vis-data.min.js"></script>
  <script src="https://visjs.github.io/vis-network/peer/umd/vis-network.min.js"></script>
  <style>
    body {
        background-color: #222222;
    }
    #mynetwork {
        background-color: #222222;
    }
  </style>
</head>

<body>
  <main>
    <div class="box">
      <div id="mynetwork"></div>
    </div>

    <div class="cd-panel cd-panel--from-right js-cd-panel-main">
      <header class="cd-panel__header">
        <h1><span id="panel-title">Loading...</span></h1>
        <a href="#0" class="cd-panel__close js-cd-close">Close</a>
      </header>
  
      <div class="cd-panel__container">
        <div class="cd-panel__content">
          <!-- Panel content -->
          <p><span id="panel-content" style="white-space: pre-wrap;"></span></p>

          <!-- Panel loading -->
          <div class="" id="skeleton-loading">
            <div class="skeleton skeleton-text"></div>
            <div class="skeleton skeleton-text"></div>
            <div class="skeleton skeleton-text"></div>
            <div class="skeleton skeleton-text"></div>
            <div class="skeleton skeleton-text"></div>
            <div class="skeleton skeleton-text"></div>
            <div class="skeleton skeleton-text skeleton-text__body"></div>
            <div class="skeleton skeleton-text skeleton-footer"></div>
          </div>


        </div> <!-- cd-panel__content -->
      </div> <!-- cd-panel__container -->
    </div> <!-- cd-panel -->

</body>
<script src="{{ url_for('static', filename='js/graph.js') }}"></script>

</html>